@import "react/global.scss";

.content {
  margin-top: 50px;
}

.TaskList {
  margin-top: 20px;
}

.ipBorders {
  border: 0;
  outline: 0;
  width: 400px;
  background: transparent;
  border-bottom: 1px solid black;
}

.addButton {
  margin-left: 20px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 4px 15px;
  font-size: 13px;
  font-weight: 500;
  outline: 0;
}

.removeButton {
  float: right;
  position: relative;
  left: -55%;
  text-align: left;
  margin-left: 20px !important;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 4px 15px;
  font-size: 13px;
  font-weight: 500;
  outline: 0;
}
